@import "tailwindcss";

@theme {
  --font-bodoni: var(--font-bodoni);
  --font-dm: var(--font-dm-sans);
  --font-jost: var(--font-jost);
}

/* Custom Swiper Styles */
.swiper-button-next,
.swiper-button-prev {
  color: #445EF2 !important;
  background: white;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 20 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px !important;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #445EF2;
  color: white !important;
  transform: scale(1.1);
}

@media (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}